.textFont {
  font-family: Arial, Helvetica, sans-serif;
}
.textCenter {
  text-align: center;
}

.textBig {
  font-size: 35px;
}

.textMiddle {
  font-size: 15px;
}

.textTop {
  font-size: 10px;
}
body {         
  background-color: #B0E0E6;
}